h1 {
	 color: #84a8ff;
}
 h1 .char {
	 transition: transform 0.3s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.3s linear;
	 transition-delay: calc(20ms * var(--char-index));
}
 h1[data-scroll="out"] .char {
	 opacity: 0.1;
	 transform: translateY(0.25em);
}
/* ---------------------------------- */
 html, body {
	 background: #182952;
font-family: 'Plus Jakarta Sans', sans-serif;
}
 body {
	 color: rgba(255, 255, 255, .2);
}
 .page {
	 max-width: 30em;
	 margin: auto;
	 overflow: hidden;
}
 
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300&display=swap');
* {
    scrollbar-width: .5vw;
    scrollbar-color: #298AFC rgba(219, 219, 220, 0);
    transition: all .2s;
    scroll-behavior: smooth;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: .5vw;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(219, 219, 220, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #298AFC;
    border-radius: .5vw;
  }
